<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/login" method="post">
    <label for="username-field" class="pb-2">Login</label>
    <input type="text" name="username" id="username-field" class="form-control" required="">
    <label for="password-field" class="pb-2">Password</label>
    <input type="password" name="password" id="password-field" class="form-control" required="">
    <button type="submit">Login</button>
</form>
</body>
</html>